.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center {
margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bottom-right {
margin: 0;
  position: absolute;
  top: 75%;
  left: 80%;
  -ms-transform: translate(-75%, -65%);
  transform: translate(-75%, -65%);
}

.align {
margin: 0;
  position: absolute;
  top: 5%;
  left: 5%;
  -ms-transform: translate(-5%, -5%);
  transform: translate(-5%, -5%);
}

.smol {
    font-size: 16pt;
}

body {
  background-color: black;
}

h1 {
  color: #d9d9d9;
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 36pt;
}

p {
  color: #d9d9d9;
  font-family: "Verdana", Geneva, sans-serif;
  font-size: 46pt;
  line-height = 1.8pt;
}
